@import "colors.css";

* {
  font-family: JetbrainsMono Nerd Font Propo;
  font-size: 15px;
  font-weight: bolder;
  color: @on_surface;
  min-height: 0;
  margin: 0em;
  padding: 0 0.3em;
  border-radius: 12px;
}

window#waybar {
  background: transparent;
}

.modules-right,
.modules-left,
.modules-center {
  padding: 0 1.5em;
  background: alpha(@surface, 0.7);
  border: 1px solid @outline_variant;
  margin: 8px 8em 0px 8em;
}

#network,
#bluetooth,
#pulseaudio,
#battery {
  margin: 0 0.5em;
}

#workspaces,
#workspaces button,
#workspaces button.active,
#workspaces button.empty,
#workspaces button.persistent,
#workspaces button.special,
#workspaces button.visible,
#workspaces button.urgent,
#workspaces button.hosting-monitor,
#workspaces.workspace-label,
#workspaces.taskbar-window,
#workspaces.taskbar-window.active {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

#workspaces button.active {
  background: @primary_container;
}
